/*@import url(fonts.css);*/

* {
    box-sizing: border-box; /* il comportamento di default è content-box, con border-box, larghezza e altezza includono anche il padding e i bordi, rendendo più intutivo il calcolo delle dimensioni */
}

html {
    scroll-behavior: smooth;
    scroll-padding: 83px;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

.contenitore {
    max-width: 1100px; /* o quello che volete */
    margin: 0 auto; /* per centrare quel contenitore nella pagina */
}

/* Navbar*/
header {
    background-color: white;
    color: #7E6B4C;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
    position: fixed;
    width: 100%;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 45px;
    margin-right:100px;
}

header a {
    font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
    color: #7E6B4C;
    text-decoration: none;
}

header p a{
    color: #BD4742;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

header a:hover {
    text-decoration: underline;
    font-weight: bolder;
}
/* Navbar final*/

/* Portada*/
.containerimg img{
    width:100% ;
   
  }
  
  img{
    display: flex;
    align-items: center;
  }
  
  
    /*text portada*/
  .content{
    top: 20px;
    right: 580px;
    left: 8rem;
    position: absolute;
      align-items: center;
      margin-top: 20%;
      width: auto;
  }
  .content h1{
    font-family: "Italiana", serif;
  font-weight: 400;
  font-style: normal;
      font-size: 128px;
      color: #fff;
      border-bottom: 2px solid white; /* Línea debajo del texto */
     padding-bottom: 5px; /* Espacio entre el texto y la línea */
     text-align: left;
  }
 


/* Portada fin*/

/* Intro*/
.intro {
padding: 114px;
background-color: #879465;
width: 1440px;
height: 410px;
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente */
margin-bottom: 100px;
}

.intro p{  
    align-items: center;
 text-align: left;
 border-radius: 10px;
display: flex;
flex-direction: column;
margin-left: 28%;
height: 183px;
width: 552px;
color: white;
text-align: left;
font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
font-size: 25px;
line-height: 122%;
}
/* Intro fin*/


/* cards*/
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
        gap: 20px; /* Espacio entre las cards */
        max-width: 900px; /* Ajusta según el diseño */
        margin: auto;
        margin-bottom: 150px;
    }
    
    .card {
        background: white;
        padding: 20px;
        border-radius: 10px;
        width: 368.495px;
        height: 340.313px;
        text-align: center;
    }
    
    .card img {
        width: 100%;
        height: 262.633px;
        border-radius: 50px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    
    .card h2 {
        font-size: 18px;
        margin-top: 15px;
        font-weight: 500;
    }
    
    .card h2 a {
        color: black;
        border: 2px solid black;
        padding: 3px 5px;
        border-radius: 80px;
        text-decoration: none;
    }
    
    .card h2 a:hover {
        text-decoration: underline;
        color: white;
        background-color: #000;
    }
     /* cards fin*/




      /* footer*/
footer {
    height: 100px;
   background-color: #879465;
   color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
}
footer small {
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
  }

footer nav ul {
    margin-top: 20px;
    display: flex;
    list-style-type: none;
    gap: 32px;
    
}

footer nav ul a {
    color: rgba(255, 255, 255, 0.6); 
    font-size: 14px;
}



@media (max-width:700px) /* o la misura che volete */  {
    .flex {
        flex-direction: column-reverse;
    }

    header {
        flex-direction: column;
        align-items:start
    }

    div.flex-reverse {
        flex-direction: column-reverse;
    }

    .testo, .immagine {
        width: 100%;
    }
}